.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.divider-text {
    background-color: inherit; /* This should match the background color of the parent element */
    padding: 0 10px; /* Adjust as needed */
    z-index: 1;
    color: var(--text-p);
}

.divider-container::before,
.divider-container::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    border-top: 1px dashed var(--text-p);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.divider-container::before {
    margin-right: 10px;
}

.divider-container::after {
    margin-left: 10px;
}
