.section-faq {
    width: 100%;
    background-color: var(--bg-latest);
}

.faq-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 25px;
}

.faq-container > h3,
.faq-container > p {
    margin: 5px 0;
    text-align: center;
}

.faq-content {
    padding: 50px 0;
}

.faq-content > h5 {
    text-align: center;
}
