.toggle-container {
    position: relative;
}

input[type="checkbox"].ios8-switch {
    width: auto;
    position: absolute;
    margin: 8px 0 0 16px;
    opacity: 0;
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    display: inline;
    padding-left: 50px;
    line-height: 2em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: var(--static-blue);
}

input[type="checkbox"].ios8-switch:disabled + label::before,
input[type="checkbox"].ios8-switch:disabled + label::after {
    opacity: 0.7;
}
